@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
button:focus {
  outline: 1px solid orange;
}
input:focus {
  outline: 2px solid orange;
}
.gradient {
  background-image: linear-gradient(to bottom, #FF7A00, #FF2900);
  -webkit-background-clip: text; /* Nécessaire pour appliquer le gradient au texte */
  color: transparent; /* Assurez-vous que le texte est transparent afin que le gradient soit visible */
}



@layer base {
  :root {
    --radius: 0.5rem;
    --background: #151515; /* Défaut : gris foncé */
    --foreground: #FFFFFF; /* Défaut : blanc */
  }

  body {
    background-color: var(--background); /* Applique le background par défaut */
    color: var(--foreground); /* Applique la couleur de texte par défaut */
  }
}
